{% extends 'shop/base.html' %}

{% block content %}
    <div class="container py-5">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="page-header">Thank you for placing your order.</h1>
                <p>Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong>.</p>
            </div>
            <a href="{% url 'shop:home' %}" class="link-success">Main page</a>
        </div>
    </div>
{% endblock %}
