<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ email }}</title>
    <style>
        table {
            width: 100%;
	        margin-bottom: 20px;
	        border: 1px solid #dddddd;
	        border-collapse: collapse;
        }
        table th {
	        font-weight: bold;
	        padding: 5px;
	        background: #efefef;
	        border: 1px solid #dddddd;
        }
        table td {
	        border: 1px solid #dddddd;
	        padding: 5px;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ first_name }}</td>
        <td>{{ last_name }}</td>
        <td>{{ email }}</td>
    </tr>
    </tbody>
</table>

<div>
    <table>
        <thead>
        <tr>
            <th>Text message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if message %}
            <td>{{ message }}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
