{% extends 'shop/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!--Reset Password-->
<section>
    <div class="container py-5">
        <h1>Reset Password</h1>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST" style="width: 30rem;">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn btn-outline-secondary" type="submit">Send email</button>
        </form>
    </div>
</section>
<!--end of Reset Password-->

<section>

</section>

{% endblock content %}
